@{
    ViewData["Title"] = "403";
    Layout = "";
}

<link rel="stylesheet" href="~/css/accessdenied.css">

<div class="lock"></div>
<div class="message">
    <h1>Доступ к этой странице запрещен</h1>
    <p><a style="margin-left:10%; color: inherit;" href="mailto:yarudkorolev@gmail.com">Свяжитесь с администрацией</a>, если считаете это ошибкой.</p>
    <p style="margin-left:26%">
        <a asp-controller="Apps" asp-action="Index" style="color: inherit;">Вернуться на главную страницу</a>
    </p>
</div>

